spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
  flyway:
    enabled: false

app:
  security:
    jwt-secret: VGhpc0lzQVNpbXBsZVNlY3JldEtleUZvckpXVEV4YW1wbGUxMjM0NQ==
    jwt-expiration-seconds: 3600
